
@{
    ViewData["Title"] = "Dipendenti";
}

<div class="container">
    <h1>Dipendenti</h1>
    <form asp-controller="Dipendenti" asp-action="Add" method="post">
        <div class="form-row mt-3">
            <div class="form-group col">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Inserisci il nome" name="Nome">
            </div>
            <div class="form-group col">
                <label for="inputCognome">Cognome</label>
                <input type="text" class="form-control" id="inputCognome" placeholder="Inserisci il cognome" name="Cognome">
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="inputIndirizzo">Indirizzo</label>
            <input type="text" class="form-control" id="inputIndirizzo" placeholder="Inserisci l'indirizzo" name="Indirizzo">
        </div>
        <div class="form-group mt-2">
            <label for="inputCodiceFiscale">Codice Fiscale</label>
            <input type="text" class="form-control" id="inputCodiceFiscale" placeholder="Inserisci il codice fiscale" name="CodiceFiscale">
        </div>
        <div class="form-group mt-2">
            <label for="inputStatoCivile">Stato Civile</label>
            <select id="inputStatoCivile" class="form-control" name="StatoCivile">
                <option selected>Scegli...</option>
                <option value="Celibe">Celibe</option>
                <option value="Sposato">Sposato</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="inputNumeroFigli">Numero di Figli a Carico</label>
            <input type="number" class="form-control" id="inputNumeroFigli" name="FigliCarico">
        </div>
        <div class="form-group mt-2">
            <label for="inputMansione">Mansione</label>
            <input type="text" class="form-control" id="inputMansione" placeholder="Inserisci la mansione" name="Mansione">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Invia</button>
    </form>
</div>

